header {
    background-color: rgb(0, 0, 0);
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    padding: 0 5%;

    .logo {
        width: 80px;
    }

    .navbar-collapse {
        flex-grow: inherit;

        .nav-link {
            color: #ffffff;

            &.active {
                color: #be3455;
            }

            &:hover {
                color: #be3455;
            }

        }
    }
}