@mixin devices ($breakpoint) {
    @if $breakpoint ==portatile {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
}

header {
    background-color: rgb(0, 0, 0);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25rem;

    .nav-menu {
        width: 100%;

        .logo {
            width: 80px;
        }

        .toggler {
            color: white;
            display: none;
        }

        .nav-link {
            color: #ffffff;

            &.active {
                color: #be3455;
            }

            &:hover {
                color: #be3455;
            }

        }

        @include devices(tablet) {
            position: absolute;
            width: 100%;

            .open-menu {
                opacity: 1;
                min-height: 100%;
                width: 100%;
            }

            .close-menu {
                width: 100%;
                opacity: 0;
                min-height: 0;
                padding: 0;
            }

            .menu {
                background-color: #000000;
                position: relative;
                z-index: 100;
                transition: all 0.2s ease-out;
                flex-direction: column !important;
                align-items: center !important;
                justify-content: center !important;
            }

            .toggler {
                display: block;
                justify-self: end !important;
            }

            .nav-item {
                flex-direction: column !important;
            }
        }
    }
}