@mixin devices ($breakpoint) {
    @if $breakpoint ==portatile {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
}

main {
    background-color: #ffffff;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.background-up {
    background-image: url(/images/bck_up.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;

    .row {
        padding: 6.4rem 0;

        .vr {
            height: 580px;
            background-color: #000000;
            width: 5px;
            opacity: 1;
        }

        h1 {
            font-size: calc(10.375rem + 1.5vw) !important;
            font-family: 'Allison', cursive;
        }


        .photo {
            text-align: center;
        }

        @include devices(tablet) {
            .vr {
                height: 435px;
            }

            h1 {
                font-size: calc(6.375rem + 1.5vw) !important;
            }
        }

        @include devices(mobile) {
            .vr {
                height: 450px;
            }

            .photo {
                padding-top: 1.75rem;
            }
        }
    }
}

.background-middle {
    background-color: #ffffff;
    background-image: url(/images/bck_double.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-blend-mode: difference;



}

.background-down {
    background-image: url(/images/bck_down.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    min-height: 50vh;

    .col-content {
        padding: 6.4rem 4.3rem;

        .vr {
            height: 580px;
            background-color: #00000000;
            width: 5px;
            opacity: 1;
        }
    }
}



.content {
    background-color: #ffffff;
    padding: 6.4rem 4.3rem;

    @include devices(tablet) {
        padding: 6.4rem 2rem;
    }

    @include devices(mobile) {
        padding: 3.2rem 2rem;
    }
}

h2 {
    font-size: calc(6.325rem + 0.9vw) !important;
    font-family: 'Allison', cursive;
}

.key-word {
    color: #01a3a2;
}

.fun-facts h3 {
    font-family: 'Source Code Pro', monospace;
}

.loader-page {
    height: 48vh;

    .loader-wrapper {
        width: 140px;
        height: 140px;
        margin: 0 auto;

        .loader {
            width: 100%;
            height: 100%;
            border: 4px solid #dadada;
            border-top-color: #01a3a2;
            border-bottom-color: #be3455;
            border-radius: 50%;
            animation: rotate 5s linear infinite;

            @keyframes rotate {
                0% {
                    transform: scale(1) rotate(360deg);
                }

                50% {
                    transform: scale(.8) rotate(-360deg);
                }

                100% {
                    transform: scale(1) rotate(360deg);
                }
            }

            .loader-inner-ring {
                border-top-color: #be3455;
                border-bottom-color: #01a3a2;
                animation-duration: 2.5s;
            }
        }
    }
}