// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";

body {
    color: #333333;
    font-size: 18px;
    background-color: #fafafafa;
}

header {
    background-color: #111;
    font-size: 18px;

    nav {
        .container-fluid {
            width: 90%;
        }

    }

}

.banner {
    padding: 6.4rem 4.3rem;
    border-bottom: 1px solid #dddddd;
    background-color: white;

    h1 {
        font-size: 96px;
    }
}

.projects,
.single-project {

    padding: 6.4rem 4.3rem;
}