// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-size: 18px;
    background-color: #fafafafa;
}

.container-fluid {
    width: 90%;
}

header {
    background-color: #111;
    font-size: 18px;
    padding: 0 5%;

    .navbar-collapse {
        flex-grow: inherit;

        .nav-link {
            color: #ffffff;

            &.active {
                color: #e31b6d;
            }

            &:hover {
                color: #e31b6d;
            }

        }
    }
}

.banner {
    padding: 6.4rem 4.3rem;
    border-bottom: 1px solid #dddddd;
    background-color: white;

    h1 {
        font-size: 96px;

        .initial {
            color: #04c2c9;
        }
    }
}


.content {
    padding: 6.4rem 4.3rem;
}

.loader-page {
    height: 48vh;

    .loader-wrapper {
        width: 140px;
        height: 140px;
        margin: 0 auto;

        .loader {
            width: 100%;
            height: 100%;
            border: 4px solid #dadada;
            border-top-color: #04c2c9;
            border-bottom-color: #e31b6d;
            border-radius: 50%;
            animation: rotate 5s linear infinite;

            @keyframes rotate {
                0% {
                    transform: scale(1) rotate(360deg);
                }

                50% {
                    transform: scale(.8) rotate(-360deg);
                }

                100% {
                    transform: scale(1) rotate(360deg);
                }
            }

            .loader-inner-ring {
                border-top-color: #e31b6d;
                border-bottom-color: #04c2c9;
                animation-duration: 2.5s;
            }
        }
    }
}

footer {
    background-color: #111;
    font-size: 18px;
    padding: 40px 5% 10px 5%;
    position: relative;

    .fa-angles-up {
        position: absolute;
        padding: 8px;
        top: -25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #e31b6d;
        cursor: pointer;
    }

    .footer-menu {
        display: flex;

        .nav-link {
            color: #ffffff;

            &:hover {
                color: #04c2c9;
            }

        }
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 56px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
    }

    .footer-menu {
        display: none;
    }
}