// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";

@mixin devices ($breakpoint) {
    @if $breakpoint ==tablet {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-size: 18px;
    background-color: #fafafafa;
}

.container-fluid {
    width: 90%;
}

.initial {
    color: #04c2c9;
}

.initial-pink {
    color: #e31b6d;
}

header {
    background-color: #111;
    font-size: 1rem;
    padding: 0 5%;

    .navbar-collapse {
        flex-grow: inherit;

        .nav-link {
            color: #ffffff;

            &.active {
                color: #e31b6d;
            }

            &:hover {
                color: #e31b6d;
            }

        }
    }
}

.banner {
    padding: 6.4rem 4.3rem;
    border-bottom: 1px solid #dddddd;
    background-color: white;

    h1 {
        font-size: 96px;
    }

    @include devices(tablet) {
        h1 {
            font-size: 56px;
        }
    }

    @include devices(mobile) {
        h1 {
            font-size: 30px;
        }
    }
}


.content {
    padding: 6.4rem 4.3rem;

}

.content-white {
    background-color: #ffffff;
    padding: 6.4rem 4.3rem;

}

h2 {
    font-size: 36px;
}

.bars-wrapper {
    padding: 0 8px;


    .bar {
        background-color: #e0e8e8;
        height: 27px;
        width: 100%;
        margin-bottom: 8px;
        position: relative;

        .fill {
            background-color: #77cccf;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 1;

            .tag {
                position: absolute;
                background-color: #04c2c9;
                top: 0;
                left: 0;
                height: 100%;
                width: 110px;
            }
        }

        .percentage {
            padding-right: 16px;
            z-index: 1;
        }
    }

}

.tech-icons {
    position: relative;
    width: 100%;
    height: 100%;

    .blue-gear {
        color: #04c2c9;
        font-size: 2rem;
        position: absolute;
        bottom: 44px;
        right: 161px;
    }


    .pink-gear {
        color: #e31b6d;
        font-size: 3.5rem;
        position: absolute;
        bottom: 40px;
        left: 167px;
    }

    .others {
        width: 100%;

    }
}

.tech-icons {
    text-align: center;

    .gear {
        display: block;

        .static-icon {
            max-width: 156px;
            margin: 26px;
        }
    }

    .others {
        display: none;
        background-color: #ffffff;
        width: 80%;
        border: 4px solid #04c2c9;
        border-style: outset;
        border-radius: 20px;

        .animated-icon {
            max-width: 208px;
        }
    }

    &:hover {
        cursor: pointer;

        .gear {
            display: none;
        }

        .others {
            display: block;

        }

    }
}

.skill {
    border: 4px solid #04c2c9;
    border-style: outset;
    border-radius: 20px;

    .skill-icons {
        text-align: center;

        .static-icon {
            max-width: 156px;
            margin: 26px;
            display: inline-block;
        }

        .animated-icon {
            max-width: 208px;
            display: none;
        }
    }

    &:hover {
        cursor: pointer;

        .static-icon {
            display: none;
        }

        .animated-icon {
            display: inline-block;
        }

    }

}

.facts {

    .facts-img {
        text-align: end;

        .static-icon {
            max-width: 208px;
            margin: 26px;
            display: inline-block;
        }

        .animated-icon {
            max-width: 260px;
            display: none;
        }
    }

    &:hover {
        background-color: #ffffff;
        cursor: pointer;
        border-bottom: 4px solid #04c2c9;
        border-style: outset;
        border-radius: 20px;

        .static-icon {
            display: none;
        }

        .animated-icon {
            display: inline-block;
        }

        .pink-facts {
            color: #e31b6d;
        }

    }
}

.loader-page {
    height: 48vh;

    .loader-wrapper {
        width: 140px;
        height: 140px;
        margin: 0 auto;

        .loader {
            width: 100%;
            height: 100%;
            border: 4px solid #dadada;
            border-top-color: #04c2c9;
            border-bottom-color: #e31b6d;
            border-radius: 50%;
            animation: rotate 5s linear infinite;

            @keyframes rotate {
                0% {
                    transform: scale(1) rotate(360deg);
                }

                50% {
                    transform: scale(.8) rotate(-360deg);
                }

                100% {
                    transform: scale(1) rotate(360deg);
                }
            }

            .loader-inner-ring {
                border-top-color: #e31b6d;
                border-bottom-color: #04c2c9;
                animation-duration: 2.5s;
            }
        }
    }
}

footer {
    background-color: #111;
    font-size: 18px;
    padding: 40px 5% 10px 5%;
    position: relative;

    .fa-angles-up {
        position: absolute;
        padding: 8px;
        top: -25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #e31b6d;
        cursor: pointer;
    }

    .footer-menu {
        display: flex;

        .nav-link {
            color: #ffffff;

            &:hover {
                color: #04c2c9;
            }

        }

        @include devices(tablet) {
            display: none;
        }

        @include devices(mobile) {
            display: none;

        }
    }
}

// @media screen and (max-width: 768px) {
//     h1 {
//         font-size: 56px;
//     }
// }

// @media screen and (max-width: 480px) {
//     h1 {
//         font-size: 30px;
//     }

//     .footer-menu {
//         display: none;
//     }
// }